model_config_list {
  config {
      name: 'lyric-snow'
      base_path: '/models/lyric-snow'
      model_platform: 'tensorflow'
  }
  config {
      name: 'copper-haze-38'
      base_path: '/models/copper-haze-38'
      model_platform: 'tensorflow'
  }
  config {
    name: 'avid-yogurt-33'
    base_path: '/models/avid-yogurt-33'
    model_platform: 'tensorflow'
  }
  config {
      name: 'dulcet-resonance-34'
      base_path: '/models/dulcet-resonance-34'
      model_platform: 'tensorflow'
  }
  config {
      name: 'gallant-serenity-31'
      base_path: '/models/gallant-serenity-31'
      model_platform: 'tensorflow'
  }
  config {
      name: 'sparkling-pond-37'
      base_path: '/models/sparkling-pond-37'
      model_platform: 'tensorflow'
  }
  config {
      name: 'wobbly-meadow-36'
      base_path: '/models/wobbly-meadow-36'
      model_platform: 'tensorflow'
  }
  config {
      name: 'crisp-snow-40'
      base_path: '/models/crisp-snow-40'
      model_platform: 'tensorflow'
  }
  config {
      name: 'elated-donkey-30'
      base_path: '/models/elated-donkey-30'
      model_platform: 'tensorflow'
  }
  config {
      name: 'dauntless-disco-29'
      base_path: '/models/dauntless-disco-29'
      model_platform: 'tensorflow'
  }
  config {
      name: 'rural-star-32'
      base_path: '/models/rural-star-32'
      model_platform: 'tensorflow'
  }
}