model_config_list {
  config {
      name: 'lyric-snow'
      base_path: '/models/lyric-snow'
      model_platform: 'tensorflow'
  }
  config {
      name: 'copper-haze-38'
      base_path: '/models/copper-haze-38'
      model_platform: 'tensorflow'
  }
  config {
      name: 'rural-star-32'
      base_path: '/models/rural-star-32'
      model_platform: 'tensorflow'
  }
}